/* .FilterBox {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 12em;
  cursor: pointer;
  float: right;
}

.FilterContainer {
  position: absolute;
  display: inline-block;
  right: 0;
  margin-right: 70px;
}

.selectTitle {
  width: 180px;
  height: 47px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 40px;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  color: rgb(85, 81, 81);
} */


.selectList {
  position: absolute;
  background: white;

  list-style: none;
  padding: 10px 0;
  min-width: 170px;
  border-radius: 3px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  display: none; 
}

.selectList li:hover {
  background: rgb(75, 144, 205);
  color: white;
}

/* Add styles for the custom select */
.custom-select {
  position: relative;
  margin-right: 12px;
}


.downIcon {
  position: relative;
  top: -37px;
  margin-left: 130px;
  color: rgb(74, 73, 73);
}

.custom-select .selected-option {
  width: 180px;
  height: 47px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 40px;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  background: white;
  
  color: rgb(85, 81, 81);
  cursor: pointer;
}
.custom-select .select-list {
  position: absolute;
  overflow: hidden;
  width: 180px;
  list-style: none;
  margin-top: 1px;
  padding: 10px 0;
  color: rgb(85, 81, 81);
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* background: white; */
}

.custom-select .select-list li {
  display: block;
  text-indent: 10%;
  padding: 5px 15px;
  padding-left: 20px;
  color: rgb(57, 57, 57);
  cursor: pointer;
  background: white;
}

.custom-select .select-list li:hover {
  background: rgb(75, 144, 205);
  color: white;
}

@media screen and (max-width: 768px) {
  .custom-select .selected-option {
    max-width: 100%;
  }

  .custom-select .select-list {
    margin-top: 10px;
    min-width: 170px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding:  0;
    background-color: white;
  }
}

@media screen and (max-width: 375px) {
  .custom-select .select-list {
    margin-top: 5%;
    min-width: 170px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 0;
    background-color: white;
   
  }
}

/* .selectList {
  position: relative;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px 0;
  min-width: 170px;
  border-radius: 3px;
}

.selectList li:hover {
  background: rgb(75, 144, 205);
  color: white;
}

.downIcon {
  position: relative;
  top: -37px;
  margin-left: 130px;
  color: rgb(74, 73, 73);
}
ul.selectList {
  position: absolute;
  overflow: hidden;
  
  width: 180px;
  border-radius: 2px;
  list-style: none;
  margin-top: 50px;
  padding: 10px 0;
  color: rgb(85, 81, 81);
  background: white;
  li {
    display: block;
    text-indent: 10%;
    padding: 5px 15px;
    padding-left: 20px;
    color: darkgray;
    cursor: pointer;
    background: white;
  }
  li:hover {
    background: listHover;
    color: rgb(75, 144, 205);
  }
}

@media screen and (max-width: 768px) {
  .FilterBox {
    margin: 20px 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .selectTitle {
    max-width: 100%;
  }

  .selectList {
    margin-top: 10%;
    min-width: 170px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px 0;
    background-color: white;

    .downIcon {
      top: -37px;
      bottom: 15px;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 375px) {
  .FilterBox {
    margin: 15px 0;
  }

  .selectTitle {
    width: 100%;
    max-width: 100%;
  }

  .selectList {
    position: relative;
    margin-top: 10%;
    bottom: 0;
    right: 0;
    min-width: 200px;
  }

  .downIcon {
    top: -37px;
    bottom: 15px;
  }
} */

