.FilterBox {
  margin: 30px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 12em;
  cursor: pointer;
  float: right;
  margin-right: 70px;
}

.FilterContainer {
  position: absolute;
  display: inline-block;
  right: 0;

  margin-right: 70px;
}

.selectTitle {
  width: 180px;
  height: 47px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 40px;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  color: darkgray;
}

.selectList {
  position: relative;
  top: 30%;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px 0;
  min-width: 170px;
  border-radius: 3px;
}

.selectList li:hover {
  background: rgb(75, 144, 205);
  color: white;
}

.downIcon {
  position: relative;
  top: -37px;
  margin-left: 130px;
  color: rgb(74, 73, 73);
}
ul.selectList {
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  width: 180px;
  border-radius: 2px;
  list-style: none;
  margin-top: -30px;
  padding: 10px 0;
  color: darkgray;
  background: white;
  li {
    display: block;
    text-align: left;
    padding: 5px 15px;
    color: darkgray;
    cursor: pointer;
    background: white;
  }
  li:hover {
    background: listHover;
    color: rgb(75, 144, 205);
  }
}

@media screen and (max-width: 768px) {
  .FilterBox {
    margin: 20px 0;
  }
  .selectTitle {
    width: 100%;
    max-width: 100%;
  }
  .selectList {
    position: relative;
    margin-top: 10%;
    bottom: 0;
    right: 0;
    min-width: 40%;
  }
  .downIcon {
    top: -37;
    bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .FilterBox {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .selectTitle {
    width: 100%;
    max-width: 100%;
  }

  .selectList {
    position: relative;
    margin-top: 10%;
    min-width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px 0;
    background-color: white;

    .downIcon {
      top: -37px;
      bottom: 15px;
      margin-left: auto;
    }
  }
}
