
.inputBox {
  display: flex;
  width: 350px;
  margin: 30px 0;
  margin-left: 20px;
  padding: 0;
  height: 47px;
}

.searchIcon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: darkgray;
}

.searchBox {
  width: 100%;
  padding: 20px 40px 20px;
  border: none;
  margin-left: -16px;
  font-size: 14px;
  background: white;
  box-shadow: 3px 3px 4px shadow;
  border-radius: 3px;
  color: darkgray;
}

.searchBox:focus {
  outline: 0;
}



@media screen and (max-width: 375px) {
  .inputBox {
    width: 100%;
    margin: 15px 0;
    .searchBox {
      width: 100%;
    }
  }
}
