body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.wrapDetail {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.leftFlag {
  flex: 1;
  padding-right: 50px;
}

.leftFlag img {
  width: 480px;
  height: 320px;
  object-fit: cover;
}

.rightDetail {
  flex: 2;
  margin-left: -60px;
}

.countryName {
  font-size: 1.6em;
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
}

.wrapInsideDetail {
  display: flex;
  margin-bottom: 15px;
}

.leftInsideDetail {
  margin-right: 30px;
  font-size: 16px;
}
.rightInsideDetail {
  flex: 1;
  font-size: 16px;
}

.borderCountries {
  margin-top: 30px;
}
.borderCountry {
  display: inline-block;
  margin-right: 8px;
  padding: 2px 8px;
  background-color: white;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  line-height: 1;
}

.borderCountry:hover {
  background-color: #f0f0f0;
  color: #333;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }

  .wrapDetail {
    flex-direction: column;
  }

  .leftFlag {
    padding-right: 0;
    margin-bottom: 20px;
    align-items: start;
  }
  .leftFlag img {
    width: 270px;
    height: 190px;
    object-fit: cover;
  }

  .rightDetail {
    flex: 1;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .wrapDetail {
    margin-top: 20px;
  }

  .leftFlag {
    padding-right: 0;
    margin-bottom: 20px;
  }
  .leftFlag img {
    width: 270px;
    height: 190px;
    object-fit: cover;
  }

  .wrapInsideDetail {
    flex-direction: column;
  }

  .leftInsideDetail,
  .rightInsideDetail {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .wrapDetail {
    margin-top: 50px;
    flex-grow: 1;
  }

  .leftFlag {
    padding-right: 60px;
  }
  .leftFlag img {
    width: 500px;
    height: 350px;
    object-fit: cover;
  }
  .countryName {
    font-size: 1.8em;
    margin-bottom: 20px;
  }

  .rightDetail {
    flex: 2;
  }
}
