
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App { 
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #ece9e9;
  /* margin-top: 10px;
  padding-bottom: 10px; */

}
.contents {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.backBtn {
  width: 100px;
  height: 30px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  margin: 15px 0 30px;
  border: none;@media screen and (max-width: 768px) {
  .contents {
    padding: 0 20px; /* Adjust padding for smaller screens */
  }
}
  border-radius: 3px;
}

.backBtn:active {
  background: #dddddd;
  outline: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
   display: flex;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .contents {
    padding: 0 20px; /* Adjust padding for smaller screens */
  }
}