.App.dark {
  background: hsl(207, 26%, 17%);
  color: white;
}

.App.dark .contents {
  background: hsl(207, 26%, 17%);
}
.App.dark header {
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 2px 4px 0 var(--shadow-color);
}
.App.dark .headerTitle {
  color: #e6e8ea; 
}
.App.dark .contents {
  background: hsl(207, 26%, 17%);
  color: white;
}

.App.dark .flag {
  &:hover{
    scale: 1.025;
  }
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 2px 5px hsl(207, 26%, 17%);
}

.App.dark .picture-image {
  box-sizing: border-box;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px solid #575656;
}

.App.dark .description
{
  color: rgb(255 255 255);
}
.App.dark .description:hover
{
  color: rgb(206, 206, 206);
}

.App.dark .feild {
  background: hsl(207, 26%, 17%);
}
.App.dark .searchBox {
  background-color: hsl(209, 23%, 22%);
  box-shadow: 3px 3px 4px shadow;
  color: rgb(206, 206, 206);
}
.App.dark .searchBox::placeholder {
  color: rgb(206, 206, 206);
}
.App.dark .searchIcon {

  color: rgb(206, 206, 206);
}

.App.dark .selectTitle,
.App.dark .selectList {
  background-color: hsl(209, 23%, 22%);
  box-shadow: 3px 3px 4px shadowInput;
  color: rgb(206, 206, 206);
}
.App.dark .downIcon {
  color: rgb(206, 206, 206);
}

.App.dark .backBtn,
.App.dark .borderCountry {
  background: hsl(207, 26%, 17%);
  box-shadow: 0 0 4px 1px shadowInput;
  color: rgb(33, 36, 43);
}

.App.dark .selectList li {
  background: hsl(207, 26%, 17%);
  color: rgb(206, 206, 206);
}

.App.dark .backBtn {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: hsl(210, 23%, 22%);
  color: lightgray;
}

.App.dark .borderCountry {
  color: lightgray;
  background-color: hsl(209, 23%, 22%);
  border: none;
}
